*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      height: 100vh;
      width: 100vw;
      display: grid;
      text-align: center;
      grid-template-rows: (3,1fr);
      grid-template-columns: (2,1fr);
      gap: 1rem;

}

.parent {
height: 100%;
width: 100%;
background-color: grey;
padding: 2rem;
}

.child {
    color: white;
    border: 5px solid black;
    background-color: purple;
}